table {
  align-items: center;
  height: 100vh;
  background-color: var(--indigo);
  font-size: 20pt;
}

tr,td {
  align-items: center;
  width: 100%;
}

.d1 {
  background-color: var(--blue);
}

.d5 {
  background-color: var(--red);
}