.container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow: auto;
    background-color: var(--indigo);
    font-size: 20pt;
}

.row {
  display: table-row
}

.col {
  display: table-cell
}

.day1 {
    background-color: var(--blue);
}

.day5 {
    background-color: var(--red);
}